{{- define "main" }}
{{- $pages := union .RegularPages .Sections }}
{{- $paginator := .Paginate $pages }}

{{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
{{- partial "home_info.html" . }}
{{- end }}

{{ $options := dict 
    "method" "POST"
    "headers" (dict "Content-Type" "application/graphql")
    "body" `{
        repositories {
            id
            name
            description
            url
            homepageUrl
        }
    }`
}}

<div class="projects-section">
    <h2>Projects</h2>
    <div class="portfolio-projects">
        {{ with resources.GetRemote "https://api-us-west-2.hygraph.com/v2/cm2ttghvc01qc07w3t30f4db5/master" $options }}
            {{ with .Content }}
                {{ with transform.Unmarshal . }}
                    {{ with .data.repositories }}
                        {{ range . }}
                            <div class="project">
                                <div class="project-header">
                                    <i class="fa-regular fa-folder-open folder-icon"></i>
                                    <div class="small-icons">
                                        <a href={{ .url }}><i class="fa-brands fa-github"></i></a>
                                    </div>
                                </div>
                                <h3>{{ .name }}</h3>
                                <p>{{ .description }}</p>
                            </div>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
</div>

{{- end }}